* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: auto;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  font-family: "Poppins", sans-serif;
  border-radius: 25px;
}

header {
  display: flex;
  width: 100%;
  margin: auto;
  padding-left: 10%;
  margin-top: 15px;
  height: 10vh;
  align-items: center;
}

.logo-container,
.nav-links {
  display: flex;
  margin-top: 20px;
}

.logo-container {
  flex: 1;
  align-items: center;
}

.logo {
  font-weight: 600;
  font-size: 35px;
  letter-spacing: 1px;
  margin: 6px;
  color: #494964;
}

.logo-container img {
  width: 75px;
}

nav {
  flex: 2;
}

.contactBtn {
  flex: 1;
  margin-top: 20px;
  justify-content: flex-end;
}
.contactBtn button {
  background: #262635;
  width: 200px;
  height: 65px;
  cursor: pointer;
  font-size: 22px;
  border: none;
  color: white;
  margin: 0px 0px 0px 30px;
  border-radius: 30px;
}

.nav-links {
  justify-content: space-around;
  list-style: none;
}

.nav-link {
  color: #5f5f79;
  font-weight: 200;
  font-size: 26px;
  text-decoration: none;
  transition: color 0.3s, border-bottom 0.3s;
}

.nav-link:hover {
  color: #494964;
  border-bottom: 1px solid #494964;
}

.presentation {
  display: flex;
  width: 80%;
  margin: auto;
  min-height: 90vh;
  padding-left: 10%;
  align-items: center;
}

.introduction {
  flex: 1;
}

.intro-text h1 {
  font-size: 55px;
  font-weight: 600;
  line-height: 120%;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text p {
  margin-top: 5px;
  font-size: 22px;
  color: #585772;
}

.cta {
  padding-top: 35px;
}

.cta-select {
  color: white;
  width: 295px;
  height: 65px;
  cursor: pointer;
  font-size: 22px;
  background: #262635;
  border: none;
  border-radius: 30px;
}

.cover {
  flex: 1;
  height: 90vh;
  vertical-align: center;
}
.footer {
  display: flex;
  width: 100%;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 3%;
  color: white;
  background-color: #262635;
}
.footer div {
  text-align: center;
}
.icons {
  margin-top: 15px;
}
.icons i {
  font-size: 35px;
  margin: 8px;
  cursor: pointer;
}
.footer div h3 {
  font-weight: 300;
  font-size: 26px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
.col-2 {
  display: flex;
  flex-grow: 2;
  padding-left: 12%;
  padding-top: 3%;
}
.col-2 a {
  display: block;
  color: white;
  list-style: none;
  margin-bottom: 10px;
  text-decoration: none;
}
.f-nav-link {
  font-size: 22px;
  margin-left: 120px;
}
.space-container {
  margin-left: 25px;
  margin-right: 25px;
}
.col-3 {
  margin-top: 2%;
}
.f-form input {
  width: 270px;
  height: 40px;
  border-radius: 4px;
  text-align: center;
  margin-bottom: 40px;
  outline: none;
  border: none;
}
.f-form button {
  font-family: "Poppins", sans-serif;
  border-radius: 4px;
  outline: none;
  border: none;
  height: 40px;
  background: transparent;
  border: 2px solid white;
  color: white;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.logo-container img {
  width: 65px;
}
.f-logo {
  font-weight: 400;
  font-size: 28px;
  margin: 6px;
  letter-spacing: 1px;
  color: white;
  padding-left: 5px;
}
.copyrights {
  background-color: #161620;
  color: white;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding-left: 38%;
  padding-top: 0.3%;
  padding-bottom: 0.5%;
}
.copyrights p {
  font-size: 18px;
  padding-bottom: 7px;
  font-weight: 100;
  align-items: center;
  justify-content: center;
}

.c-presentation {
  display: flex;
  width: 90%;
  margin: auto;
  min-height: 60vh;
  padding-left: 10%;
  margin-top: 8%;
  margin-bottom: 20px;
}

.c-introduction {
  flex: 1;
  padding-bottom: 20px;
  margin-right: 20px;
}

.c-intro-text h1 {
  font-size: 44px;
  font-weight: 600;
  line-height: 120%;
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.c-intro-text p {
  margin-top: 5px;
  font-size: 19px;
  color: #585772;
  margin-bottom: 10px;
}
.f1-input {
  width: 32%;
  margin-top: 25px;
  border-radius: 4px;
  border: none;
  height: 60px;
  background-color: whitesmoke;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-right: 2px;
  font-size: 18px;
}
.f2-input {
  margin-top: 8px;
  width: 32%;
  border-radius: 4px;
  border: none;
  background-color: whitesmoke;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 13px;
  height: 60px;
  font-size: 18px;
  padding-bottom: 13px;
  margin-right: 2px;
}
#f3-input {
  margin-top: 8px;
  width: 65.3%;
  height: 80px;
  border-radius: 4px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  height: 150px;
  font-family: Poppins;
  font-size: 18px;
  justify-content: center;
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: whitesmoke;
}
.information {
  margin-top: 4%;
}
.address h3 {
  background: linear-gradient(to right, #494964, #6f6f89);
  font-size: 26px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #494964;
}
.addressText {
  margin-top: 7px;
  display: flex;
}
.addressText i {
  width: 25px;
  margin-top: 5px;
}
.addressText p {
  margin-top: 5px;
  font-size: 18px;
  color: #585772;
}
.Contact {
  margin-top: 25px;
}
.Contact h3 {
  background: linear-gradient(to right, #494964, #6f6f89);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #494964;
  font-size: 26px;
}
.emailAddress {
  margin-top: 7px;
  display: flex;
}
.emailAddress i {
  width: 25px;
  margin-top: 5px;
}
.emailAddress p {
  margin-top: 5px;
  font-size: 18px;
  color: #585772;
}
.about-container {
  display: flex;
  padding: 20px;
  background: rgb(38, 38, 38);
  justify-content: center;
  height: auto;
}

.about-container img {
  position: relative;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  -webkit-filter: drop-shadow(5px 55px 5px black);
  filter: drop-shadow(10px 25px 20px black);
}
.about-container p {
  color: white;
  font-size: 18px;
  font-weight: 200;
  text-overflow: clip;
  text-align: left;
  padding-right: 10%;
  padding-bottom: 30px;
}
.about-container div {
  color: white;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  padding-top: 3%;
}
.about-container h1 {
  padding-bottom: 25px;
}

/* cards */
.service-container {
  background-color: #f4f4f4;
  /* max-height: 100vh; */
  padding: 70px;
}
.headingServices {
  text-align: center;
  padding-bottom: 20px;
}
.headingServices h1 {
  font-size: 45px;
  color: #494964;
}
.headingServices p {
  font-size: 18px;
  color: #585772;
}
.service {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
}
.serviceBtn {
  flex: 1;
  margin-top: 20px;
  text-align: center;
}
.serviceBtn button {
  background: #262635;
  width: 200px;
  height: 65px;
  cursor: pointer;
  font-size: 22px;
  border: none;
  color: white;
  margin: 0px 0px 0px 30px;
  border-radius: 30px;
}
.card {
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  text-align: center;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  width: 30%;
  height: 400px;
}
.card img {
  width: 28%;
  margin-top: 20px;
  opacity: 0.7;
}

.card h2 {
  font-size: 30px;
  margin: 0;
  margin-top: 30px;
  color: #494964;
}
.crad p {
  font-size: 18px;
  color: #494964;
}

.cover img {
  filter: drop-shadow(0px 5px 3px grey);
  margin: 0px 0px 0px 30px;
  animation: drop 1.5s ease;
}
.times {
  margin-top: 5px;
  font-size: 18px;
  color: #585772;
}
#phone {
  position: absolute;
  top: 30vh;
  height: 60%;
  z-index: 2;
}

#tablet {
  filter: blur(2px);
  position: absolute;
  top: 10vh;
  height: 90%;
  z-index: 1;
}

.big {
  position: absolute;
  top: -110px;
  right: -200px;
  z-index: -1;
  width: 60vw;
  opacity: 0.4;
}

.mid {
  position: absolute;
  top: 30%;
  right: 25%;
  z-index: -1;
  width: 30vw;
  opacity: 0.4;
}

.small {
  position: absolute;
  bottom: -10%;
  left: 20%;
  z-index: -1;
  height: 30%;
  opacity: 0.6;
}

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1024px) {
  .presentation {
    flex-direction: column;
    clear: left;
  }

  .introduction {
    margin-top: 5vh;
  }

  .intro-text h1 {
    font-size: 30px;
    text-align: сenter;
  }

  .intro-text p {
    font-size: 18px;
  }

  #heading {
    text-align: center;
  }
  .cover {
    align-items: center;
    justify-content: center;
    justify-items: center;
    padding: 0;
    margin: 0;
  }
  #phone {
    position: relative;
    height: 40%;
    z-index: 2;
    align-items: center;
    float: left;
    top: 10vh;
  }

  #tablet {
    position: relative;
    height: 60%;
    z-index: 1;
  }
}

@media screen and (max-width: 360px) {
}
